<html lang="en">
	<%- include('./partials/head.ejs') %>
	<body>
		<%- include('./partials/nav.ejs') %>

		<div class="about content">
			<h2>About us</h2>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora
				praesentium consequatur vero expedita blanditiis labore! Doloremque, eum
				repellat ipsa velit odit iure enim amet deleniti facere expedita
				voluptatum ipsum architecto.
			</p>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora
				praesentium consequatur vero expedita blanditiis labore! Doloremque, eum
				repellat ipsa velit odit iure enim amet deleniti facere expedita
				voluptatum ipsum architecto.
			</p>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora
				praesentium consequatur vero expedita blanditiis labore! Doloremque, eum
				repellat ipsa velit odit iure enim amet deleniti facere expedita
				voluptatum ipsum architecto.
			</p>
		</div>
	</body>
	<%- include('./partials/footer.ejs') %>
</html>
